cache/
log/
config/databases.yml
config/ProjectConfiguration.class.php
config/schema.yml
nbproject/
config/app.yml
lib/model/om/
lib/model/map/
web/uploads/
apps/b2c/config/app.yml
apps/agent/config/app.yml
apps/backend/config/app.yml
data/
