@charset "utf-8";
/* CSS Document */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
        padding:0px;
        margin:0px;
        background-color: #F7F7F7;
}
img{
    border: 0px;
}
p, h1, form, button {
	border:0;
	margin:0;
	padding:0;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
}
.spacer {
	clear:both;
	height:1px;
}
a{
    color: #71880f;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
/* ----------- MitForm ----------- */
.mitform {
	margin:0 auto;
	width:800px;
	padding:14px;
}
#basic {
	
}
#basic h1 {
	font-size:22px;
	font-weight:bold;
	margin:20px 5px 20px 5px;
}
#basic p {
	font-size:12px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #dedede;
	padding-bottom:10px;
}
#basic label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:125px;
	float:left;
        padding:5px;
        margin-bottom: 15px;
}
#basic .small {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:280px;
}
#basic input {
	float:left;
	width:150px;
	margin:2px 0px 30px 26px;
   
}
#basic input[type=submit]{
    background:url('../images/login-button.png') no-repeat !important;
    width:79px;
    height:27px;
    color:#ffffff;
    border:0px !important;
    margin-left:26px;
    font-size:11px;
    font-weight: bold;
}
#basic button {
	/*clear:both;
	margin-left:230px;
        margin-right:10px;
	background:#888888;
	color:#FFFFFF;
	border:solid 1px #666666;
	font-size:11px;
	font-weight:bold;
	padding:4px 6px;
	float:left;*/
    background:url('../images/login-button.png') no-repeat !important;
    width:79px;
    height:27px;
    color:#ffffff;
    border:0px !important;
    margin-left:230px;
    font-size:11px;
    font-weight: bold;
}
input#generic {
	height:13px;
	width:13px;
	float:left;
	margin:5px 300px 30px 10px;
}
#basic select {
	float:left;
	width:165px;
        height: 22px;
	margin:2px 0px 30px 26px;
}
#basic select#educationfromdate2, #basic select#educationfromdate1 {
	float:left;
	width:38px;
	margin:2px 0 30px 10px;
}
#basic span.to {
	float:left;
	padding:5px 0px 0px 10px;
	display:block;
}
#basic input#profilesnap {
	width:100px;
}
.error_list{
    float:left;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0px;
    padding:2px 50px 5px 9px;
    color:red !important;
}

#header{
    height: 107px;
    margin: 0 auto 0px;
    width: 75%;
}

#menu{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#content{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 75%;
}
#footer{
    border-top: 1px #DEDEDE solid;
    margin-top: 20px;
    padding: 5px;
}
.content{
    float:left;
    width:150px;
    margin:5px 0px 30px 10px;
}

.list-view{
    margin: 0px;
}

.list-view th{
    width: 150px;
}

.list-view td{
    text-align: center;
}

.save-ok {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#73B65A url(../images/ok.png) no-repeat scroll 5px 2px;
color:#FFFFFF;
font-size:11px;
margin:0 !important;
padding:5px 20px 5px 25px;
font-weight:bold;
margin-bottom:10px;
}

.save-decl {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FF0000 url(../images/alert.png) no-repeat scroll 5px 2px;
color:#FFFFFF;
font-size:11px;
margin:0 !important;
padding:5px 20px 5px 25px;
font-weight:bold;
margin-bottom:10px;
}

.logo {
    
    padding-top: 13px;
}
.action-links{
    padding: 10px 10px 10px 5px;
    clear:both;
}

#slogan{
    color:#ADCA30;    
    width:1010px;
    margin: 0 auto;
}
#slogan h1{
    float:left;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#loggedInUser{
    float:right;
    width: 175px;
    white-space:nowrap;  
    margin: 20px 5px;
    font-weight: bold;
    font-size: 14px;
}
.clr{
    clear:both;
    float: none;
}
#menu{
    text-align: center;
    width: 62%;
    margin:0 auto;
}
#menu ul#sddm{
    margin: 0 auto 41px;
    padding: 0;
    z-index: 30;
    width: 92%;
}

#sddm li{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 11px arial;
    background:url('../images/li-bg.png') repeat-x top left;
    border-left: 1px solid #7F9910;
    border-top: 1px solid #7F9910;
    border-bottom: 1px solid #7F9910;
}
#sddm li.last
{	

    border-right:1px solid #7F9910;

}    
#sddm li a{
    display: block;
    margin: 0 0px 0 0;
    padding: 4px 10px;

    color: #000;

    text-align: center;
    text-decoration: none;
}

#sddm li a:hover{
    text-decoration:none;
    background: #ADCA30;
    color:#ffffff;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #ADCA30;
	border: 1px solid #7F9910;
}

#sddm div a
{	position: relative;
        display: block;
        margin: 0;
        padding: 5px 10px;
        width: auto;
        white-space: nowrap;
        text-align: left;
        text-decoration: none;
        background: #ADCA30;
        color: #FFFFFF;
        font: 11px arial;
}
#sddm div a:hover
{	background: #FFFFFF;

        color: #ADCA30;

        text-decoration: none;
}
#sddm div a.subSelect
{	background: #FFFFFF;
        color: #ADCA30;
}
#sddm li a.current{
    background: #ADCA30 !important;
    color: #FFFFFF !important;
}
#sddm li a.currentR{
    background: #ADCA30 !important;
    color: #000000 !important;
}
.report_container
{
	margin: 0 auto 20px;	
}

.report_container h2
{
	margin: 5px auto;
}

.report_container table th, .report_container table td {
	padding: 5px;
	padding-left: 0px;
	/*border: 2px solid #c0c0c0;*/
}

.report_container table th
{
	background-color: #FFFFFF;
        color:#716F70;
        text-align: left;
}

.split-form-sign-up{padding-top:20px; float:left; clear:both; width:750px; padding-bottom:30px; min-height:382px; background-repeat:no-repeat; padding-top:20px; padding-left:30px; margin-bottom:10px;}
.split-form-sign-up .col{width:351px; float: left; position: relative}
.split-form-sign-up ul{list-style:none;}
.split-form-sign-up ul li{list-style:none; margin-bottom:10px; clear:both;width:350px; white-space:nowrap;color:#000;}
.split-form-sign-up ul li label{width:130px; float:left; padding-top:3px; font-weight:bold; }
.split-form-sign-up ul li input{width:130px; border:1px solid #999999; font-size:11px; padding:3px;}
.split-form-sign-up ul li select{width:137px; border:1px solid #999999;font-size:11px; padding:3px; }

.split-form-sign-up ul li select.quater{width:55px; border:1px solid #999999;font-size:11px; padding:3px; margin-right:3px; }
.split-form-sign-up ul li input.chkbx{width:20px; padding:0px; border:0px; float:left;}
.split-form-sign-up ul li input.radbx{width:20px; padding:0px; border:0px; float:left;}
.split-form-sign-up ul li.fr {width:244px; text-align:right;}
.split-form-sign-up ul li.buttonplacement{ /*position: relative; right:75px; margin-left: 36px;*/text-align: right !important;}
#customer_date_of_birth_month{
    margin-left:10px !important;
}
#customer_date_of_birth_year{
    margin-left:10px !important;
}
.split-form-sign-up ul li button{ 
    border:0 none;
    bottom:-70px;
    color:#FFFFFF;
    font-size:22px;
    height:48px;
    margin-top:42px;
    padding-bottom:7px;
    padding-top:5px;
    /*position:absolute;
    right:-180px;*/
    margin-left:0 !important;
    width:132px;
}
.split-form-sign-up ul li.buttonplacement2{ position: relative; right:75px;}

.alert{
	position: relative;
	top: 3px;
	
	display: none;
}

.alert img {
	width: 14px;
	height: 14px;	
}
.alertstep1{
	position: relative;
	top: 3px;
	
	
}

.alertstep1 img {
	width: 14px;
	height: 14px;	
}

.ok {
	padding-top: 2px;
	background-image:url("../images/ok.png");
	background-position:0 0;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

.decl {
	padding-top: 2px;
	background-image:url("../images/decline.jpeg");
	background-position:0 0;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

.inline-error{
	color:#d00;
	float:right;
	margin-right:56px;
	text-align:right;
	white-space:normal;
	margin-top: -20px;
}

.split-form-sign-up ul li select.shrinked_select_box {
	width: 40px!important;
	padding: 2px;
}

#customer_date_of_birth_year
{
	width: 51px!important;
}


#basic ul {
	color: #666666 ;
}

.bg-img{
   width: 507px;
   height:327px;
   margin:0 auto 40px;
}
.bg-img .left{
   background: url('../images/left-login-page-box.png') no-repeat left;
   float: left;
   width: 42px;
   height:327px;
}
.bg-img .right{
   background: url('../images/right-login-page-box.png') no-repeat right;
   float: left;
   width: 42px;
   height:327px;
}
.bg-img .centerImg{
  background: url('../images/center-login-page-box.png') repeat-x; 
  height:327px;
  float:left;
  width: 423px;
}
.bg-img h1{
    color:#ffffff;
    margin-top:18px !important;
    font-size: 26px !important;
    text-align: center;
}
.bg-img h2{
    color:#3d3d3d;
    font-weight: normal;
    margin-top:34px;
    margin-left:33px;
    margin-bottom: 14px;
    text-align: left;
    font-size: 14px;
}
.bg-img .fieldName{
   color:#3d3d3d;
   text-align: left;
   margin-left: 33px;
   font-size: 13px;
   font-weight: bold;
   margin-bottom:8px;
   float:none !important;
   clear: both !important;
   text-align: left !important;
   padding:0px !important;
}
.bg-img .fieldName .fieldError{
   float:right;
   font-size: 11px;
}
.bg-img .Inputfield{
    text-align: left;
    margin-left: 32px;
    margin-bottom: 20px;    
}
.bg-img .fieldName label{
    text-align: left !important;
    padding:0px !important;
    margin-bottom: 0px !important;
    float:left !important;
    display: inline !important;
}
.bg-img .Inputfield #login_username,.bg-img .Inputfield #login_password{
    background: url('../images/field-img.png') no-repeat top;
    width: 331px;
    border:0px;
    height: 25px;
    line-height: 25px;
    padding-left: 11px;
    width: 320px;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}
.bg-img .submitButton{
    text-align: left;
} 
.bg-img .submitButton button{
    background:url('../images/login-button.png') no-repeat !important;
    width:79px;
    height:27px;
    color:#ffffff;
    border:0px !important;
    margin-left: 33px !important;
    font-weight: bold;
}
.bg-img .submitButton button:hover{
    background:url('../images/login-button-hover.png') no-repeat !important;
}
#sf_admin_container h1{
  margin: 8px 0 0 0;
  padding: 3px;
  padding-left: 3px;
  color: #555;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 17px;
  color:#ffffff;
  background-color: #B1C844;
}
.borderDiv{
  border:1px solid #D1D1D1;
  padding:5px;  
  background-color: #FFFFFF;
}
table{
    background: #FFFFFF !important;
}
tr.even{
    background-color:#FFFFFF !important;
}
tr.odd{
/*    background-color:#E8E7E8 !important;*/
   background-color: #eef8bd;
}
p.pTotal{    
    font-weight: bold;
    margin-top:3px;
    text-align: right;
    margin-right: 5px;
    padding-top:5px;
}
th{
    color: #716F70;
    text-align: left;
}
a.external_link {
    background: url("../zerocall/images/b.png") repeat-x scroll left center transparent;
    color: #FFFFFF;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    margin-right: 5px;
    padding: 5px;
}
.powered{
    font-size: 11px;
    float: right;
    margin-top:10px;
}
.changenumber{
    float: left;
    list-style: none;
    width: 50%;
}
.changenumber label{
    text-align: left !important;
    width:200px !important;
}
label.validnumber{
    font-weight:normal !important;
    padding: 0px;
    margin: 0px;
    margin-left:20px;
    font-size: 11px;
 }
 /*#mobile_number{
    margin-bottom: 0px !important;
}
 #customer_mobile_number{
    margin-bottom: 0px !important;
}*/